<nav class="navigation">
  <a class="nav_logo" href="/">
    <img src="/assets/images/creon_face.png" alt="Home">
    Creon The Draggie
  </a>
  <ul class="nav_links">
    <!-- <li class="nav_item">
      <a class="nav_link" href="/">Home</a>
    </li> -->
    <li class="nav_item">
      <a class="nav_link">Pages Coming Soon</a>
    </li>
  </ul>
</nav>
