<!doctype html>
<html lang="en-US">
<head>
  <%= t.include("partials/head-embed.ejs") %>
  <title>About</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:900|Open+Sans:400,400i,700,700i&display=swap">
  <link rel="stylesheet" href="/assets/css/home.css">
  <script src="/assets/js/home.js" defer></script>
</head>

<body>
  <%= t.include("partials/navigation.ejs") %>
  <h1>About Page</h1>

  <%= t.include("partials/footer.ejs") %>
</body>
</html>
